<style>

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
        /* font-family: 'Noto Sans JP', sans-serif; */
        font-family: 'Open Sans', serif;
}

body.waiting * {
    cursor: progress;
}

body {
        margin-top: 15px;
        margin-left: 5px;
        background-color: #dddddd;
        color: #321e04;
        padding-bottom: 200px;
        cursor: auto;
}

a:link, a:visited, a:active {
        color: #6699bb;
        text-decoration: none;
}

a:hover, {
        color: #6699bb;
}


#databox, .databox {
        background: white;
        border: 1px #0096be solid;
        border-radius: 5px;
        display: block;
        font-family: Courier;
        font-size: 0.75rem;
        height:300px;
        overflow: hidden;
        overflow: scroll;
        white-space: pre;
        width:750px;
        padding: 10px;
}

#databox:focus, .databox:focus {
        outline: none;
}

table.option {
        border-collapse: collapse;
}

table.option td, table.option tr {
        margin: 0;
        padding: 0;
}

table.option td:nth-child(1) {
        width: 165px;
}

table.option td:nth-child(2) {
        width: 50px;
}

input[type="submit"]:hover {
        background-color: limegreen !important;
}

.note {
        color: #aaaaaa;
        font-size: small;
}

table.olist {
        padding-top:20px;
}


table.olist td:nth-child(1) {
        font-weight: bold;
        font-family: Courier;
        padding-right: 20px;
}

#header {
        padding-bottom: 0px;
        display:flex;
        justify-text:center;
        padding-left:100px;
        padding-right:100px;
}

</style>



