<style>

<link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	/* font-family: 'Noto Sans JP', sans-serif; */
	font-family: 'Open Sans', serif;
	zoom: 98%;
}

body.waiting * {
	cursor: progress;
}

body {
	margin-top: 15px;
	margin-left: 5px;
	background-color: #e1e2f2;
	color: #321e04;
	padding-bottom: 200px;
	cursor: auto;
	font-size: calc(16px + 1vw);
	line-height: calc(1.1em + 0.5vw);
}

script {
	line-height: 1.25;
	font-size: calc(1rem + 0.5vw) !important;
	min-height: 200px;
}

a:link, a:visited, a:active {
	color: #6699bb;
	text-decoration: none;
}

a:hover, {
	color: #6699bb;
}


.lightening {
	position: relative;
	top: -5px;
	left: 0px;
}

.volume {
	position: relative;
	top: -14px;
	left: 34px;
	font-size: 22pt !important;
}

.notes {
	position: relative;
	top: -16px;
	left: 38px;
	font-size: 20pt !important;
}

.chain-volume, .chain-music {
	position: relative;
	bottom: -7px;
	left: -5px !important;
	font-size: 18pt !important;
}

.chain {
	position: relative;
	top: 5px;
	left: 10px;
}

.button {
	opacity: 0.8;
}


.button:hover {
	cursor: pointer;
}

.button-highlight {
	color: darkgreen !important;
}


h1 {
	font-size: calc(3rem + 1vw);
	font-weight: bold;
	line-height: calc(3rem);
}

h2 {
	margin-top: 100px;
	font-size: calc(2rem + 1vw);
	font-weight: bold;
	line-height: calc(2rem);
}

h3 {
	margin-top: 50px;
}

.visible {
	display: block;
	background: limegreen;
}


#databox, .databox, #databox *, .databox * {
	background: white;
	border: 1px #0096be solid;
	border-radius: 5px;
	font-family: Courier;
	font-size: 0.75rem;
	height:300px;
	overflow: hidden;
	overflow: scroll;
	white-space: pre;
	width:750px;
	padding: 10px;
}

#databox:focus, .databox:focus {
	outline: none;
}

table.option {
	border-collapse: collapse;
}

table.option td, table.option tr {
	margin: 0;
	padding: 0;
}

table.option td:nth-child(1) {
	width: 165px;
}

table.option td:nth-child(2) {
	width: 50px;
}

input[type="submit"]:hover {
	background-color: limegreen !important;
}

.note {
	color: #aaaaaa;
	font-size: small;
}

table.olist {
	padding-top:20px;
}


table.olist td:nth-child(1) {
	font-weight: bold;
	font-family: Courier;
	padding-right: 20px;
}

#header {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	text-align:left;
	width:calc(80vu);
}

#content {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 200px;
	text-align:left;
	width:calc(80vu);
}


p code {
	font-family: Courier;
	font-weight: bold;
}


</style>



