<style>

<link href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:400,400italic,700|Abril+Fatface&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */


* {
	/* font-family: 'Noto Sans JP', sans-serif; */
	/* font-family: 'Open Sans', serif; */
	font-family: 'Palatino', 'Alegreya', serif;
}

body.waiting * {
	cursor: progress;
}

script {
	line-height: 1.25;
	font-size: 1.15rem !important;
	min-height: 200px;
}

a:link, a:visited, a:active {
	color: {{ site.hyperlink_color }} !important;
	text-decoration: none;
}

a:hover, {
	color: {{ site.hyperlink_hover_color }} !important;
}




h1 {
	color: {{ site.header_color }};
	font-size: 3rem;
	font-weight: bold;
	line-height: calc(3rem);
	margin-bottom: 40px;
}

h2 {
	color: {{ site.header_color }};
	margin-top: 100px;
	font-size: 2rem;
	font-weight: bold;
}

h3 {
	color: {{ site.header_color }};
	margin-top: 50px;
}

.visible {
	display: block;
	background: limegreen;
}


#databox, .databox, #databox *, .databox * {
	background: white;
	border: 1px #0096be solid;
	border-radius: 5px;
	font-family: Courier;
	font-size: 0.75rem;
	height:300px;
	overflow: hidden;
	overflow: scroll;
	white-space: pre;
	width:750px;
	padding: 10px;
}

#databox:focus, .databox:focus {
	outline: none;
}

table.option {
	border-collapse: collapse;
}

table.option td, table.option tr {
	margin: 0;
	padding: 0;
}

table.option td:nth-child(1) {
	width: 165px;
}

table.option td:nth-child(2) {
	width: 50px;
}

input[type="submit"]:hover {
	background-color: limegreen !important;
}

.note {
	color: #aaaaaa;
	font-size: small;
}

table.olist {
	padding-top:20px;
}


table.olist td:nth-child(1) {
	font-weight: bold;
	font-family: Courier;
	padding-right: 20px;
}

#header {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	text-align:left;
	width:calc(80vu);
}

#content {
	padding-left: 400px;
	padding-right: 50px;
	padding-bottom: 200px;
	text-align:left;
}


p code {
	font-family: Courier;
	font-weight: bold;
}

table {
	background: none !important;
	border-collapse: collapse;
	border: 0 !important;
}

tr {
	background: none !important;
	border: 0 !important;
}

td {
	background: none !important;
	border: 0 !important;
}

th {
	background: none !important;
	border: 0 !important;
}


code.language-plaintext {
	background: none !important;
	padding: 0;
	font-size: 110%;
	color: {{ site.text_color }};
}

</style>



