
<style>


table.ratioscore-editor-toolbar {
	width: 100%;
	padding-top: 0px;
	background: none !important;
	border: 0;
	margin-bottom: 0px !important;
}

table.ratioscore-editor-toolbar tr {
	width: 100%;
	margin: 0;
	padding: 0;
	background: none !important;
}

table.ratioscore-editor-toolbar td {
	border: 0 !important;
	background: none !important;
}


.lightening {
	position: relative;
	top: -5px;
	left: 0px;
}

.volume {
	position: relative;
	top: -9px;
	left: 20px;
	color: {{ site.ratioscore_button_highlight }} !important;
	font-size: 12pt !important;
}

.notes {
	position: relative;
	top: -9px;
	left: 22px;
	color: {{ site.ratioscore_button_highlight }} !important;
	font-size: 11pt !important;
}

.play {
	position:relative;
	left:-5px;
	top:0px;
	cursor:pointer;
}

.rfile {
	position: relative;
	top: -10px;
	left: 22px;
	color: {{ site.ratioscore_button_highlight }} !important;
	font-size: 10pt !important;
}

.chain-volume, .chain-download, .chain-music {
	position: relative;
	bottom: -7px;
	left: -3px !important;
	font-size: 16pt !important;
}

.chain {
	position: relative;
	top: 5px;
	left: 10px;
}

.button {
	color: {{ site.ratioscore_button_background }};
}


.play {
/*
	position: relative;
	bottom: -7px;
	left: -3px !important;
*/
	font-size: 16pt !important;
}

.button:hover {
	cursor: pointer;
	color: limegreen;
}

.button-highlight {
	color: {{ site.ratioscore_button_background_hover }} !important;
}


</style>
