


<style>

/*
div.sidebar {
	border-right: 1px solid {{ site.ratioscore_dark }};
}
*/

div.sidebar {
	background-image: linear-gradient(130deg, {{ site.sidebar_background }} 0% 20%, {{ site.content_background }} 125% );
	overflow-y: scroll;
}

div.sidebar a {
	color: {{ site.sidebar_hyperlink_color }} !important;
	text-decoration: none;
}

div.sidebar a:hover {
	color: {{ site.sidebar_hyperlink_hover_color }} !important;
	text-decoration: none;
}

.lead {
	letter-spacing: 3.5px;
	white-space: nowrap;
	padding-bottom: 10px !important;
	margin-bottom: 0 !important;
}

div.sidebar div.container {
	padding: 0;
}


nav.sidebar-nav {
	padding-left: 15px;
}

div.subheadings {
	color: {{ site.content_background }} !important;
	font-size: 12px;
	padding-left: 10px;
	margin-right: -50px;
}


table.sidebar-title {
	padding: 0;
	margin-left: 10px !important;
	margin: 0;
	width: 100%;
}

table.sidebar-title tr, table.sidebar-title td {
	padding: 0;
	margin: 0;
}

</style>
