
<a class="sidebar-nav-item" href="/about">       About              </a>
<a class="sidebar-nav-item" href="/pitch">       Pitch              </a>
<a class="sidebar-nav-item" href="/time">        Time               </a>
<a class="sidebar-nav-item" href="/instruments"> Instruments        </a>
<a class="sidebar-nav-item" href="/dynamics">    Dynamics           </a>
<a class="sidebar-nav-item" href="/pan">         Panning            </a>
<a class="sidebar-nav-item" href="/glissandos">  Glissandos         </a>
<a class="sidebar-nav-item" href="/drums">       Drums              </a>
<a class="sidebar-nav-item" href="/symbols">     Symbols            </a>
<a class="sidebar-nav-item" href="/filters">     Filtering          </a>
<a class="sidebar-nav-item" href="/scales">      Scales             </a>
<a class="sidebar-nav-item" href="/generator">   Score generator    </a>
<a class="sidebar-nav-item" href="/grid">        Interval grid     </a>
<a class="sidebar-nav-item" href="/intervals">   Interval dictionary</a>
<a class="sidebar-nav-item" href="/equal-temperament"> Equal-temperament calculator </a>
<a class="sidebar-nav-item" href="/polyrhythm">  Polyrhythm generator </a>


