
<h3> {{include.title}} ({% if include.ratio %}{{include.ratio}}, {% endif %}{{include.cents}} cents)</h3>

<script class="ratioscore" type="application/x-ratioscore" id="{{include.id}}">
!!!OTL: {{include.title}} ({% if include.ratio %}{{include.ratio}}, {% endif %}{{include.cents}} cents)
**time	**ratio	**ratio
*	*Iclars	*Iclars
*	*ref:A4	*ref:A4
1	1	.
3	0	.
4	.	{% if include.ratio %}{{include.ratio}}{% else %}{{include.cents}}c{% endif %}
6	.	0
7	1	{% if include.ratio %}{{include.ratio}}{% else %}{{include.cents}}c{% endif %}
9	0	0
*-	*-	*-
</script>


