
<h3> {{include.title}} ({% if include.ratio %}{{include.ratio}}, {% endif %}{{include.cents}} cents)</h3>

<script class="ratioscore" type="application/x-ratioscore" id="{{include.id}}">
!!!OTL: {{include.title}} ({% if include.ratio %}{{include.ratio}}, {% endif %}{{include.cents}} cents)
**dtime	**ratio	**ratio
*{% if include.tempo %}MM{{include.tempo}}{% else %}MM60{% endif %}	*Iclars	*Iclars
*	*ref:A4	*ref:A4
2	1	.
1	0	.
2	.	{% if include.ratio %}{{include.ratio}}{% else %}{{include.cents}}c{% endif %}
1	.	0
2	1	{% if include.ratio %}{{include.ratio}}{% else %}{{include.cents}}c{% endif %}
*-	*-	*-
</script>


