<!-- ratioscore.html
	vim: ts=3:nowrap
	input parameters:
		id      = id of source
-->

<form
		target="_blank"
		style="margin-top:30px;"
		id="form-{{include.id}}"
		action="http://data.ratioscore.sapp.org/cgi-bin/ratioscore"
		method="post"
		onsubmit="event.preventDefault(); saveRatioscoreRendering(event, '{{include.id}}');">
	<script
			id="inputdata-{{include.id}}"
			name="inputdata"
			spellcheck="false"
			contenteditable type="text/plain"
			class="databox"></script>
	<table style="padding-top:0px">
		<tr valign="top">
			<td style="padding-right:20px; padding-top:0px;">
				<br/>
				<input id="render-{{include.id}}"
						style="font-size:1rem; border:0; padding:5px; padding-left:8px; padding-right:8px; border-radius:3px; background-color:#aa1155; color:#ffffff"
						type="submit"
						name="action"
						value="Render">
			</td>
			<td style="padding-top:13px;">
				<div>
					<input type="radio" name="outputformat" value="mid" checked> MIDI <br>
					<input type="radio" name="outputformat" value="mp3"> MP3 <br>
				</div>
			</td>
		</tr>
	</table>
</form>





<script>

document.addEventListener("DOMContentLoaded", function () {
	let id = "{{include.id}}";
	let celement = document.querySelector("#{{include.id}}");
	if (!celement) {
		console.log("Warning: no element id {{include.id}}");
		return;
	}
	let contents = celement.textContent;
	contents = contents.replace(/^\s*/s, "").replace(/\s*$/s, "");
console.log("CONTENTS", contents);
	let target = document.querySelector("#inputdata-{{include.id}}");
	if (!target) {
		console.log("Warning: no targetelement id inputdata-{{include.id}}");
		return;
	}
	target.textContent = contents;
	console.log("TARGET", target);
});

</script>






