<!-- ratioscore.html
	vim: ts=3:nowrap
	input parameters:
		id      = id of source
-->

<div class="ratioscore">

<form
		target="_blank"
		style="margin-top:30px;"
		id="form-{{include.id}}"
		action="http://data.ratioscore.sapp.org/cgi-bin/ratioscore"
		method="post"
		onsubmit="event.preventDefault(); saveRatioscoreRendering(event, '{{include.id}}');">

	<script
			id="inputdata-{{include.id}}"
			style="resize:both; overflow:auto;"
			name="inputdata"
			spellcheck="false"
			contenteditable="true"
			type="text/plain"
			class="databox visible"></script>

	<table style="padding-top:0px">
		<tr style="margin:0; padding:0;" valign="top">
			<td>
				<div id="audio-{{include.id}}" 
						title="download and play"
						style="position:relative; left:-5px; top:0px; cursor:pointer;" 
						onclick="PlayAudioFile('{{include.id}}', this);" 
						href="" class="play">
					<i class="ratioscore-play-button fa fa-play fa-2x" aria-hidden="true"></i>
				</div>
			</td>
			<td style="height:24px; valign=center; padding-right:0px;">
				<input id="render-{{include.id}}"
						style="font-size:24px; border:0; padding:5px; padding-left:8px; padding-right:8px; border-radius:3px; background-color:#aa1155; color:#ffffff"
						type="submit"
						name="action"
						value="Download">
			</td>
			<td style="padding-top:7px;">
				<div style="width:450px; font-size:24px;">
					<select style="margin-top:-10px; font-size:30px;" name="outputformat">
						<option value="mid"> MIDI </option>
						<option value="mp3"> MP3 </option>
						<option value="ratioscore"> Ratioscore </option>
					</select>
				</div>
			</td>
		</tr>
	</table>
</form>

</div>

<script>

document.addEventListener("DOMContentLoaded", function () {
	let id = "{{include.id}}";
	let celement = document.querySelector("#{{include.id}}");
	if (!celement) {
		console.log("Warning: no element id {{include.id}}");
		return;
	}
	let contents = celement.textContent;
	contents = contents.replace(/^\s*/s, "").replace(/\s*$/s, "");
	let target = document.querySelector("#inputdata-{{include.id}}");
	if (!target) {
		console.log("Warning: no targetelement id inputdata-{{include.id}}");
		return;
	}
	target.textContent = contents;

	enableTab("inputdata-{{include.id}}");
});




</script>



