<!-- ratioscore.html
	vim: ts=3:nowrap
	input parameters:
		id      = ID of source.
		tabsize = character width of tab characters.
		height  = height of text box in pixels, include "px".
		width   = height of text box, include "px".
-->

<a name="{{include.id}}"></a>
<div class="ratioscore">

<form
		target="_blank"
		style="margin-top:30px;"
		id="form-{{include.id}}"
		action="https://data.ratioscore.sapp.org/cgi-bin/ratioscore"
		method="post"
		onsubmit="event.preventDefault(); saveRatioscoreRendering(event, '{{include.id}}');">

	<div style="{% if include.width %}width:{{include.width}}; {% else %}width:100%; {% endif %}">
		<table class="ratioscore-editor-toolbar">
			<tr valign="top">
				<td>
					<span 
							title="Play"
							class="button fa-stack fa-1x"
							id="audio-{{include.id}}" 
							onclick="PlayAudioFile('{{include.id}}', this);" 
					>
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-play fa-stack-1x fa-inverse play"></i>
					</span>
				</td>
				<td style="width:100%;">
				</td>
				<td style="display:none; padding-top:10.5px; height:24px; valign=center; padding-right:0px;">
					<input id="render-{{include.id}}"
							style="font-size:24px; border:0; padding:5px; padding-left:8px; padding-right:8px; border-radius:3px; background-color:#aa1155; color:#ffffff"
							type="submit"
							name="action"
							value="Download">
				</td>
				<td style="display:none; padding-top:17px;">
					<div style="font-size:24px;">
						<select style="display:-webkit-inline-block; margin-top:-10px; font-size:30px;" name="outputformat">
							<option value="mid"> MIDI </option>
							<option value="mp3"> MP3 </option>
							<option value="ratioscore"> Ratioscore </option>
						</select>
					</div>
				</td>
				<td width="80px;">
					<nobr>
					{% unless include.erase contains "false" %}
					<span onclick="event.preventDefault(); ClearEditorContents('{{include.id}}');" title="Clear editor contents" class="button fa-stack fa-1x">
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-eraser fa-stack-1x fa-inverse"></i>
					</span>
					{% endunless %}
					<span onclick="event.preventDefault(); saveRatioscoreRendering(event, '{{include.id}}', 'mp3');" title="Download MP3" class="button fa-stack fa-1x">
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-download fa-stack-1x chain-volume fa-inverse"></i>
						<i class="fa fa-volume-up volume"></i>
					</span>
					<span onclick="event.preventDefault(); saveRatioscoreRendering(event, '{{include.id}}', 'mid');" title="Download MIDI" class="button fa-stack fa-1x">
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-download fa-stack-1x chain-download fa-inverse"></i>
						<i class="fa fa-music notes"></i>
					</span>
					<span onclick="event.preventDefault(); saveRatioscoreRendering(event, '{{include.id}}', 'ratioscore');" title="Download Ratioscore" class="button fa-stack fa-1x">
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-download fa-stack-1x chain-download fa-inverse"></i>
						<i class="fa fa-file-text-o rfile"></i>
					</span>
					<span title="Copy to system clipboard" onclick="CopyScoreToClipboard('{{include.id}}');" class="button fa-stack fa-1x">
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-copy fa-stack-1x fa-inverse"></i>
					</span>
					<span title="Paste from system clipboard" onclick="PasteScoreFromClipboard('{{include.id}}');" class="button fa-stack fa-1x">
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
					</span>
					<span title="Copy link to Ratioscore" onclick="CopyLinkToClipboard('{{include.id}}');" class="button fa-stack fa-1x">
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-link fa-stack-1x fa-inverse"></i>
					</span>
					<span title="Copy autoplay link to Ratioscore" onclick="CopyAutoplayLinkToClipboard('{{include.id}}');" class="button fa-stack fa-1x">
						<i class="fa fa-square hovering fa-stack-2x"></i>
						<i class="fa fa-link fa-inverse chain"></i>
						<i class="fa fa-bolt lightening" style="color:#fcc637cc"></i>
					</span>
					</nobr>
				</td>
			</tr>
		</table>

		<script
				id="inputdata-{{include.id}}"
				style="max-height: calc(100vh - 200px); width:100%; resize:both; overflow:auto; {% if include.minheight %}min-height:{{ include.minheight }};{% endif %}{% if include.height %}height:{{ include.height }}; {% else %}height:auto; {% endif %} {% if include.tabsize %}tab-size:{{ include.tabsize }}; -moz-tab-size:{{ include.tabsize }};{% else %}tab-size:10; -moz-tab-size:10;{% endif %}"
				name="inputdata"
				spellcheck="false"
				oncopy="CopyScoreToClipboard(event.target.id);"
				contenteditable="true"
				type="text/plain"
				class="databox visible"></script>
	</div>
</form>

</div>

<script>

document.addEventListener("DOMContentLoaded", function () {
	let id = "{{include.id}}";
	let celement = document.querySelector("#{{include.id}}");
	if (!celement) {
		console.log("Warning: no element id {{include.id}}");
		return;
	}
	let contents = celement.textContent;
	contents = contents.replace(/^\s*/s, "").replace(/\s*$/s, "");
	let target = document.querySelector("#inputdata-{{include.id}}");
	if (!target) {
		console.log("Warning: no targetelement id inputdata-{{include.id}}");
		return;
	}
	target.textContent = contents;

	enableTab("inputdata-{{include.id}}");
});


</script>



