
<style>

audio:not([controls]) {
  display: none;
  height: 0;
}

audio {
	width:100%;
}

.ratioscore-play-button {
	padding-left: 3px;
	padding-right: 100px;
}

</style>



<script>
// vim: ts=3

let AUDIO = null;
let AUDIOid = null;
let AUDIOurl = null;
let AUDIOratioscore = null;


//////////////////////////////
//
// pauseCallback --
//

function pauseCallback() {
	// console.log("AUDIO CONTROLS TURNED OFF");
	if (document.activeElement.nodeName !== "AUDIO") {
		AUDIO.style.display = "none";
	}
}


//////////////////////////////
//
// PlayAudioFile -- play/pause an audio file.
//

function PlayAudioFile(id, element, starttime) {
	// console.log("ID", id, "ELEMENT", element);
	let elementid = "audio-" + id;
	if (element) {
		elementid = element.id;
	}

	// Add an audio element to the page if not there already:
	if (!AUDIO) {
	   AUDIO = document.getElementById('audio');
		if (AUDIO) {
			AUDIO.onpause = pauseCallback;
			AUDIO.onended = function() {
				AUDIOid = "";
			};
		}
  	}
	if (!AUDIO) {
		AUDIO = document.createElement("AUDIO");
		AUDIO.id = "audio";
		document.body.appendChild(AUDIO);
		AUDIO.onpause = pauseCallback;
		AUDIO.onended = function() {
			AUDIOid = "";
		};
	}
   if (!AUDIO) {
		console.log('Error: could not set up audio interface\n');
		return false;
   }
	AUDIO.setAttribute('controls', 'controls');
	AUDIO.style.position = 'fixed';
	AUDIO.style.bottom = '0';
	AUDIO.style.right = '0';
	AUDIO.style.zIndex = '1';
	AUDIO.style.display = "block";


	// Check to see if the mp3 file has already been downloaded,
	// and use the that one instead of downloading again.
	let inputelement = document.querySelector("#inputdata-" + id);
	if (!inputelement) {
		console.log("Cannot find input element for", id);
		return;
	}
	let inputtext = inputelement.textContent;
	if ((inputtext == null) || (inputtext !== AUDIOratioscore)) {
		console.log("DOWNLOADING SCORE FOR ID", id);
		downloadRatioscoreMp3(id, element, starttime);
		return;
	}


	// Turn off the current playback.  If the ID is already being
	// played, then stop the audio; otherwise, start the new ID.
	if (!AUDIO.paused) {
		if (id === AUDIOid) {
   		AUDIO.pause();
			return;
		} else {
   		AUDIO.pause();
		}
	}

	// Set the audio file source with the new recording:
	let source = AUDIO.querySelector("source");
	if (!source) {
		source = document.createElement("SOURCE");
		AUDIO.appendChild(source);
	}
	if (AUDIOurl) {
		source.src = AUDIOurl;
	}
	// source.type = "audio/mpeg";

	AUDIOid = id;
	AUDIO.load();
	if (starttime) {
		AUDIO.currentTime = starttime;
	}
	AUDIO.play();
}


</script>



