
<script>
// vim: ts=3

//////////////////////////////
//
// CopyToClipboard --
//

function CopyToClipboard(string) {
	// console.log("Copying", string, "to clipboard");
	var element = document.createElement("textarea");
	element.value = string;
	document.body.appendChild(element);
	element.select();
	document.execCommand("copy");
	document.body.removeChild(element);
};



//////////////////////////////
//
// CopyLinkToClipboard --
//

function CopyLinkToClipboard(id) {
	let url = GetUrl();
	url += "#" + id;
	CopyToClipboard(url);
	let alertcounter = parseInt(localStorage.alertcounter || 0);
	alertcounter++;
	localStorage.alertcounter = alertcounter;
	if (alertcounter < 11) {
		alert("Copied URL " + url);
	}
}



//////////////////////////////
//
// CopyAutoplayLinkToClipboard --
//

function CopyAutoplayLinkToClipboard(id) {
	let url = GetUrl();
	url += "?autoplay=" + id;
	CopyToClipboard(url);
	let alertcounter = parseInt(localStorage.alertcounter || 0);
	alertcounter++;
	localStorage.alertcounter = alertcounter;
	if (alertcounter < 11) {
		alert("Copied URL " + url);
	}
}



//////////////////////////////
//
// GetUrl --
//

function GetUrl(id) {
	let url = window.location.href.replace(/\?.*/, "");
	url = url.replace(/#.*/, "");
	return url;
}



//////////////////////////////
//
// CopyScoreToClipboard --
//

function CopyScoreToClipboard(id) {
	let selector;
	if (id.match(/inputdata-/)) {
		selector = "#" + id;
	} else {
		selector = "#inputdata-" + id;
	}
	let element = document.querySelector(selector);
	if (!element) {
		CopyToClipboard("");
		return;
	}
	let contents = element.textContent;
	CopyToClipboard(contents);
}



//////////////////////////////
//
// PasteScoreFromClipboard --
//

function PasteScoreFromClipboard(id) {
	let element = document.querySelector("#inputdata-" + id);
	if (!element) {
		return;
	}

	navigator.clipboard.readText().then(text => element.textContent = text);
}


</script>



