
<script>
// vim: ts=3

//////////////////////////////
//
// CopyToClipboard -- 
//

function CopyToClipboard(string) {
	// console.log("Copying", string, "to clipboard");
	var element = document.createElement("textarea");
	element.value = string;
	document.body.appendChild(element);
	element.select();
	document.execCommand("copy");
	document.body.removeChild(element);
};



//////////////////////////////
//
// CopyLinkToClipboard --
//

function CopyLinkToClipboard(id) {
	let url = GetUrl();
	url += "#" + id;
	CopyToClipboard(url);
	let alertcounter = parseInt(localStorage.alertcounter || 0);
	alertcounter++;
	localStorage.alertcounter = alertcounter;
	if (alertcounter < 11) {
		alert("Copied URL " + url);
	}
}



//////////////////////////////
//
// CopyAutoplayLinkToClipboard --
//

function CopyAutoplayLinkToClipboard(id) {
	let url = GetUrl();
	url += "?autoplay=" + id;
	CopyToClipboard(url);
	let alertcounter = parseInt(localStorage.alertcounter || 0);
	alertcounter++;
	localStorage.alertcounter = alertcounter;
	if (alertcounter < 11) {
		alert("Copied URL " + url);
	}
}



//////////////////////////////
//
// GetUrl --
//

function GetUrl(id) {
	let url = window.location.href.replace(/\?.*/, "");
	url = url.replace(/#.*/, "");
	return url;
}



//////////////////////////////
//
// CopyScoreToClipboard --
//

function CopyScoreToClipboard(id) {
	let selector;
	if (id.match(/inputdata-/)) {
		selector = "#" + id;
	} else {
		selector = "#inputdata-" + id;
	}
	let element = document.querySelector(selector);
	if (!element) {
		CopyToClipboard("");
		return;
	}
	let selection = GetSelectionText();
	let contents = selection;
	if (!contents) {
		contents = element.textContent;
	}
	CopyToClipboard(contents);
}



//////////////////////////////
//
// GetSelectionText --
//

function GetSelectionText() {
	var text = "";
	if (window.getSelection) {
		text = window.getSelection().toString();
	} else if (document.selection && document.selection.type != "Control") {
		text = document.selection.createRange().text;
	}
	return text;
}



//////////////////////////////
//
// PasteScoreFromClipboard --
//

function PasteScoreFromClipboard(id) {
	let element = document.querySelector("#inputdata-" + id);
	if (!element) {
		return;
	}

	navigator.clipboard.readText().then(text => element.textContent = text);
}


//////////////////////////////
//
// ClearEditorContents --  If the editor is already empty, then restore
//    the previously cleared contents.  Copy the selected text, or if no
//    text is selected, then copy all of the text.  
//

CLEARED_EDITOR_CONTENTS = {};
function ClearEditorContents(id) {
	let selector;
	if (id.match(/inputdata-/)) {
		selector = "#" + id;
	} else {
		selector = "#inputdata-" + id;
	}
	let element = document.querySelector(selector);
	if (!element) {
		return;
	}
	let currentContents = element.textContent;
	if (currentContents.match(/^\s*$/)) {
		if (!CLEARED_EDITOR_CONTENTS[id].match(/^\s*$/)) {
			element.textContent = CLEARED_EDITOR_CONTENTS[id];
			CLEARED_EDITOR_CONTENTS[id] = "";
		} 
	} else {
		CLEARED_EDITOR_CONTENTS[id] = element.textContent;
		element.textContent = "";
	}
}


</script>



