


<script>
// vim: ts=3

document.addEventListener("DOMContentLoaded", function () {
	let list = document.querySelectorAll("nav a.sidebar-nav-item");
	let target = document.location.href;
	target = target.replace(/#.*$/, "");
	target = target.replace(/\?.*$/, "");
	target = target.replace(/\/(index.html)?$/, "");
	for (let i=0; i<list.length; i++) {
		let href = list[i].href.replace(/\/(index.html)?$/, "");
		if (href === target) {
			// console.log("SETTING LINK", href, "TO ACTIVE");
			list[i].classList.add("active");
		}
	}
	if (document.location.pathname !== "/") {
		var homelink = document.querySelector("#homelink");
		if (homelink) {
			homelink.style.visibility = "visible";
		}
	}
});


</script>
