
<script>
// vim: ts=3:nowrap

function saveRatioscoreRendering(event, id) {
	if (document.body.classList.contains("waiting")) {
		alert("Already converting a score");
		return;
	}
	document.body.classList.add("waiting");

	let form = document.querySelector('#form-' + id);
	if (!form) {
		console.log("Error: Form not found for #form-" + id);
		return;
	}
	let formdata = new FormData(form);
	let dataelement = document.querySelector("#inputdata-" + id);
	let data = dataelement.innerText;
	let blob = new Blob([data], { type: "text/plain"});
	formdata.append("inputdata", data);
	//for (let pair of formdata.entries()) {
  	//	console.log(pair[0] + ': ' + pair[1]);
	//}
	let request = new XMLHttpRequest();
	request.open("POST", "https://data.ratioscore.humdrum.org");
	request.responseType = "blob";
	request.onload = function () {
		document.body.classList.remove("waiting");
		let myblob = this.response;
		// let reader = new FileReader();
		// reader.onload = function () {
		// 	console.log("CONTENTS", reader.result);
		// }
		// reader.readAsText(myblob);
		let url = window.URL.createObjectURL(myblob);
		window.open(url);
	};
	request.send(formdata);
}


</script>


